<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "blogs", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/application_nav", location: 'top' %>

    <!-- <%= login_helper %> -->

    <div clas="container mx-auto">
    <div class="relative isolate px-6 lg:px-8">
  
      <div class=" lg:py-32">

        <%= yield %>

      </div>

    </div>
  
    
  </div>
    <%= render "shared/application_footer" %>

    <%= source_helper("application") %>
  </body>
</html>
